*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* *Header_navbar_Start* */
.navbar{
    height: 60px;
    background-color: #0f1111 ;
    color: white;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;

}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.nav-address{
    height: 50px;
    width: 100px;
    
}
.add-frist{
    margin-left: 15px;
    /* align-items: center; */
    color: #ccc;
    font-size: 0.85rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.nav-search{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 620px; 
    background-color: rgb(247, 189, 29);
    border-radius: 4px; 
}
.search-all{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius:4px ;
    border-bottom-left-radius: 4px;
    border: none;
    outline: none;
}
#search-box{
    background-color: #f3f3f3;
    width: 100%;
    border: none;
    outline: none;
}
.search-icon{
    width: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-search:hover{
    outline: 2px solid rgb(247, 189, 29) ;
}
.search-icon:hover{
    background-color: rgb(146, 108, 5);
    cursor: pointer;
}
.search-all:hover{
    cursor: pointer;
}


.sinin{
    height: 50px;
    /* display: block;
    align-items: center; */
}
.s1{
    font-size: 0.85rem;
}
.s2{
    font-size: 1rem;
    font-weight: 700;
}
.cart{
    height: 45px;
    width:80px ;
    
}
.cart i{
    font-size: 30px;
}


/* *Header_navbar_End* */
/* Header_panel1_Start */

.panel1{
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly;  */
    background-color: #222f3d;
    color: white;
}
.menubar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
}
.pp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 60%;
}
.p{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
}
.panel1-deals{
    width: 40%;
}
.lastp{
    margin-left: 500px;
    margin-right: 55px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 80%px;
}


/* Header_panel1_End */
/**Hiro section start**/

.hiro{
    height: 600px;
    background-image: url(hiro.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hiro-details{
    height: 40px;
    width: 95%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.85rem;  
}
.hiro a{
    text-decoration: none;
    color:#007185 ;
}
/**Hiro section start**/
/* soppin section start */

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 50px;
    margin-top: 15px;
    /* border: 1px solid black; */

}
.sop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    text-align: center;
}
.box-image{
    height: 300px;
    background-size: cover;
    margin: 1rem;
    /* margin-bottom: 1rem;  */
    
}
.box a{
    text-decoration: none;
    color: #007185;
}
.box a:hover{
    color: crimson;
}
/* sopping section end */
/* Footer section start */

.panel1{
    height: 40px;
    background-color:#222f3d ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel2{
    height: 300px;
    background-color: #0f1111;
    color: #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
ul{
  margin-top: 20px;

}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-panel3{
    background-color:#222f3d ;
    border-top:0.5px solid white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* Footer section end */
